body {
    margin: 0px;
    padding: 0px;
}

.header--wide1920{
    background-color: #FFFFFF;
    height: 54px; width: 100%;
    margin-left: auto;margin-right: auto;
    display: flex; position:fixed;z-index: 9999;
}

.header--wide1200{
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;margin-bottom: 10px;
    margin-left: auto;margin-right: auto;
    display: flex;justify-content: space-between;
}

.header__title{
    width: 150px;height: 34px;
    margin: 0px;
    font-weight: bold, 700;font-size: 30px;
    line-height: 34px;letter-spacing: 0em;
    color: #448899;
    font-family: 'Noto Sans TC', sans-serif;
}
@media (max-width: 600px) {
    .header__title {
        padding-left: 10px;
    }
}
.header__toolBar{
    width: 175px;height: 34px;
    display: flex; justify-content: space-between;
}
.header__toolBar__item{
    font-family: 'Noto Sans TC', sans-serif;font-size: 16px;font-weight:normal,500;
    line-height: 13px;letter-spacing: 0em;
    display: flex;align-items: center; justify-content: center;
    padding: 10px;
    color: #666666;
}

.welcome{
    height: 320px;width: 100%;
    margin-left: auto;margin-right: auto;
}
.welcome__img {
    width: 100%;height: 320px;
    background: url('../image/welcome.png') no-repeat center center / cover,linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    display: flex;
    flex-direction: column;
}
.slogan{
    width: 100%;
    max-width:1200px; height: 169px;
    margin: auto;padding: 10px;
}
.slogan__headline{
    height: 41px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 28px; font-weight: 700; 
    line-height: 24px; letter-spacing: 0em;
    text-align: left; 
    color: #F8F8F8;
}
.slogan__subtitle{
    height: 22px;
    margin-top: 15px;
    font-family: 'Noto Sans TC', sans-serif; 
    font-size: 16px; font-weight: 700; 
    line-height: 13.3px; letter-spacing: 0em; 
    text-align: left; 
    color: #F8F8F8;
}
.search{
    margin-top: 25px;
    height: 46px; 
}
.search__bar{
    max-width: 460px;
    width: 460px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

@media (max-width: 600px) {
    .search__bar {
        
        max-width: 460px;
        width: calc(460px - 175px);
    }
    search__bar__textbox{
        width: calc(60% - 60px);
    }
}

@media (max-width: 360px) {
    .search__bar {
        width: 285px;
    }
}

.search__bar__textbox{
    padding-left: 15px;
    width: 100%;height: 46px; box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Noto Sans TC', sans-serif; 
    font-size: 16px; font-weight: 700; color:#757575;
    box-shadow: 0px 0px 20px 0px transparent;
    line-height: 13.3px; letter-spacing: 0em; 
    text-align: left;
    border: none;
}
.search__btn{
    width: 60px;height: 46px;
    background: #448899  ;
}
.search__btn__icon{
    width:30px;height:30px;
    position: relative;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
}
.main{
padding: 40px 0px 40px 0px
}
.mrtList{
padding: 0px 0px 20px 0px;
margin-left: auto;margin-right: auto;
justify-content: space-between;
height: 70px;width: 100%;
max-width:1170px;
background: #FFFFFF;
display: flex;
}

.mrtList__leftController{
    width: 32px;height:50px;
    padding: 9px 0px 9px 15px;
}
.mrtList__rightController{
    width: 32px;height: 50px;
    padding: 9px 15px 9px 0px;
}
.mrtList__controller__icon{
    width:32px;height:32px;
}
.mrtList__container{
    width: calc(100% - 94px);max-width: 1066px;height: 50px;
    padding: 13px 10px 13px 10px;
}
@media (max-width: 1200px) {
    .mrtList__container{
        width: calc(90% - 94px)
    }
}

.mrtList__container__sub{
    width: auto;height:24px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}


.mrtList__container__sub__item{
    width:150px;height:24px;
    padding: 5px 15px 5px 15px;
    gap: 4px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;font-weight: 500;
    line-height: 13.3px;letter-spacing: 0;
    text-align: center;
    color: #666666;
}

.attraction{
    max-width: 1200px;
    margin-left: auto;margin-right: auto;
    padding: 15px;
    min-height: 816px; 
    height: 100%; 
}
.attraction__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
}
@media (max-width: 1200px) {
    .attraction__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1024px) {
    .attraction__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .attraction__container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.attraction__item{
    min-height: 242px;
    min-width:  45px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;

}
.attraction__item__detail{
    min-width: 270px;min-height: 197px;
    position: relative;
}

.attraction__item__detail__text{
    width: calc(100% - 20px);height: 20px;
    opacity: 0.6;
    background: #000000;
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px 20px;
    font-family: "Noto Sans TC";
    font-size: 16px;font-weight: 700; color: #FFFFFF;
    line-height: 13px; letter-spacing: 0; 
    text-align: left; display: flex; align-items: center; 
}
.attraction__item__mrtCategory{
    height: 25px;
    display: grid;grid-template-columns: repeat(2, 1fr); gap: 4px;
    padding:10px;
}
.attraction__item__mrtCategory__mrt{
    font-family: 'Noto Sans TC';
    font-size: 16px;font-weight: 500;
    letter-spacing: 0em;
    color: #757575;
}
.attraction__item__mrtCategory__category{
    font-family: 'Noto Sans TC';
    font-size: 16px;font-weight: 500;
    letter-spacing: 0em;
    text-align: right;
    color: #757575;
}
.footer {
    background: #757575;
    padding: 40px 20px; 
}
.footer__content{
    width: 234px;height: 14px;
    font-family: Noto Sans TC;
    font-size: 16px;font-weight: 700;
    line-height: 13px;letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    display: flex;justify-content: center;align-items: center;
    margin: auto;
}