@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

hr{
    background-color: #E8E8E8;
    height: 1px;
    border: 0px;
    margin: 0px;
}

.dialogMask{
    width: 100%; height: 100%;
    position: fixed;
    opacity: 0.25;background: #000000;
    z-index: 5;
    display: none;
}

.auth{
    width: 340px;
    border-radius: 6px;overflow: hidden;
    position: fixed;
    top: -300px;
    transition: top 0.3s ease-in-out;
    padding: 0px;border: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    z-index: 6;
}

.auth__drcoratorBar{
    width: 340px;height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.auth__main{
    width: 310px;
    margin: 15px;
    position: relative;
}

.auth__main__closeIcon{
    position: absolute;
    top: 0;right: 0;
}

.auth__main__tittle{
    width: 310px;height: 27px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;font-weight: 700;
    line-height: 24px;letter-spacing: 0em;
    text-align: center;
    color: #666666;

}

.auth__main__input{
    width: 278px;height: 15px;
    padding: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;font-weight: 500;
    line-height: 13px;letter-spacing: 0em;
    color: #757575;
    border: 1px solid #CCCCCC;border-radius: 5px;
    background: #FFFFFF;
    text-align: left;
}

.auth__main__button{
    width: 270px;height: 27px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background: #448899;
    color: #FFFFFF;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 19px;font-weight: 400;
    line-height: 16px;letter-spacing: 0em;
    text-align: center;
    display: flex;align-items: center;justify-content: center;
}

.auth__main__statusMessage{
    height: 22px;margin-top: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;font-weight: 500;
    line-height: 13px;letter-spacing: 0em;
    text-align: center;
    color: #ff0000;display: none;
}

.auth__main__statusChange{
    width: 310px;height: 22px;margin-top: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;font-weight: 500;
    line-height: 13px;letter-spacing: 0em;
    text-align: center;
    color: #666666;
}

.header--wide1920{
    background-color: #FFFFFF;
    height: 54px; width: 100%;
    margin-left: auto;margin-right: auto;
    display: flex; 
    display: flex; position:fixed;
    z-index: 4;
}

.header--wide1200{
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;margin-bottom: 10px;
    margin-left: auto;margin-right: auto;
    display: flex;
}

.header__title{
    width: 150px;height: 34px;
    margin: 0px auto 0px 0px;
    font-weight: 700;font-size: 30px;
    line-height: 34px;letter-spacing: 0em;
    color: #448899;
    font-family: 'Noto Sans TC', sans-serif;
}
@media (max-width: 600px) {
    .header__title {
        margin-left: 10px;
    }
}
.header__toolBar{
    width: 175px;height: 34px;
    display: flex;
}
.header__toolBar__item{
    font-family: 'Noto Sans TC', sans-serif;font-size: 16px;font-weight:normal,500;
    line-height: 13px;letter-spacing: 0em;
    display: flex;align-items: center; justify-content: center;
    padding: 10px;
    color: #666666;
}
.main{
    padding-top: 54px;
}
.main__content{
    max-width: 1200px;
    margin: 0px auto;
}

.title{
    margin: 40px 0px 0px 0px;
    font-family: 'Noto Sans TC', sans-serif;font-size: 20px;font-weight:700;
    width: 100%;
    text-align: center;
    color: #666666;
}

.introduction{
    margin: 10px 0px 0px 0px;
    font-family: 'Noto Sans TC', sans-serif;font-size: 20px;font-weight:700;
    width: 100%;
    text-align: center;
    color: #666666;
}
.orderNumber{
    margin: 30px 0px ;
    font-family: 'Noto Sans TC', sans-serif;font-size: 20px;font-weight:500;
    width: 100%;
    text-align: center;
    color: #666666;
}
.remind{
    margin: 0px 0px 40px 0px;
    font-family: 'Noto Sans TC', sans-serif;font-size: 16px;font-weight:500;
    width: 100%;
    text-align: center;
    color: #666666;
}

.footer {
    background: #757575; height: calc(100vh - 395px);
    padding: 40px 20px; 
}
.footer__content{
    width: 234px;height: 14px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;font-weight: 700;
    line-height: 13px;letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}