<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>台北一日遊景點</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thankyou.css') }}">
</head>
<body><div class="dialogMask">

    </div>
    <dialog class="auth" id="login">
        <div class="auth__drcoratorBar"></div>
        <div class="auth__main" id="loginMain">
            <img src="{{url_for('static', filename='image/icon_close.png')}}" alt="離開" class="auth__main__closeIcon" id="closeLogin"/>
            <div class="auth__main__tittle">登入會員帳號</div>
            <input type="text" class="auth__main__input" style="margin-top: 15px;" placeholder="輸入電子信箱" id="signInEmail"/>
            <input type="password" class="auth__main__input" style="margin-top: 10px;" placeholder="輸入密碼" id="signInPassword"/>
            <div class="auth__main__button" id="signInButton">登入帳戶</div>
            <div class="auth__main__statusMessage" id="loginMessage"></div>
            <div class="auth__main__statusChange" id="toSignUp">還沒有帳戶？點此註冊</div>
        </div>
    </dialog>
    <dialog class="auth" id="signUp">
        <div class="auth__drcoratorBar"></div>
        <div class="auth__main"  id="signUpMain">
            <img src="{{url_for('static', filename='image/icon_close.png')}}" alt="離開" class="auth__main__closeIcon" id="closeSignUp"/>
            <div class="auth__main__tittle">註冊會員帳號</div>
            <input type="text" class="auth__main__input" style="margin-top: 15px;" placeholder="輸入姓名" id="signUpName"/>
            <input type="text" class="auth__main__input" style="margin-top: 10px;" placeholder="輸入電子信箱" id="signUpEmail"/>
            <input type="password" class="auth__main__input" style="margin-top: 10px;" placeholder="輸入密碼" id="signUpPassword"/>
            <div class="auth__main__button" id="signUpButton">註冊新帳戶</div>
            <div class="auth__main__statusMessage" id="signUpMessage"></div>
            <div class="auth__main__statusChange" id="toSignIn">已經有帳戶？點此登入</div>
        </div>
    </dialog>
    <div class="header--wide1920">
        <div class="header--wide1200">
            <h2 class="header__title">
                台北一日遊
            </h2>
            <div class="header__toolBar">
                <div class="header__toolBar__item">
                    預定行程
                </div>
                <div class="header__toolBar__item" id="auth">
                    登入/註冊
                </div>
                <div class="header__toolBar__item" id="signOut">
                    登出系統
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__content">
            <hr/>
            <div class="title">
                行程預定成功
            </div>
            <div class="introduction">
                您的訂單編號如下
            </div>
            <div class="orderNumber">
            </div>
            <div class="remind">
                請記住此編號或到會員中心查詢訂單
            </div>
        </div>
        <div class="footer">
            <div class="footer__content">
                COPYRIGHT © 2021 台北一日遊
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/authSystem.js') }}"defer></script>
    <script>
        let queryString = window.location.search;

        let params = new URLSearchParams(queryString);

        let number = params.get("number");

        let orderNumber = document.querySelector(".orderNumber");
        orderNumber.textContent=number

        document.addEventListener("DOMContentLoaded", function () {

        let token = localStorage.getItem("token");

        if (!token) {

            window.location.href = "/";
        }
        });
    </script>
</body>
</html>